<div class="facilitron-main">
  <!-- overview-section -->
  <div class="container-fluid my-5 py-5" id="facilitron-overview">
    <div class="row">
      <div class="col-sm-7 homepage-text-l">
        <h2 class="h2-responsive">Reduce workload.<br/>Increase revenue.</h2>
        <p>Facilitron enables school districts, colleges, and municipalities to manage, showcase, and monetize their facility availability and utilization while transforming the customer experience for community renters.</p>
        <blockquote>
          “Facilitron doesn’t cost the system one penny, organizes the paperwork and monies for auditing purposes, allows us to be consistent across the board taking responsibility off board and admins AND income helps offset expensive upgrades on facilities….HOMERUN!!!”
          <br><br>- Jay Brinson, Superintendent
          <br>
          <img src="{{ $.Site.BaseURL }}images/logos/wayne-county.png" alt="Wayne County School System" style="width:350px; margin-top:20px;">
        </blockquote>
        <a id="read-an-overview-btn" href="./facilitron-overview" class="btn btn-primary my-4">Read an Overview</a>
      </div>
      <div class="col-sm-5 pr-0 homepage-img-r">
        <img class="img-fluid" align="right" src="{{ $.Site.BaseURL }}images/screens/ComputerMonitorSearchResults3.png" alt="Facilitron Overview">
      </div>
    </div>
  </div>
  <!-- /.overview-section -->

  <!-- scheduling-section -->
  <div id="facilitron-scheduling" class="img-l container-fluid my-5 py-5">
    <div class="row">
      <div class="col-sm-5 pl-0 homepage-img-l">
        <img class="img-fluid" src="{{ $.Site.BaseURL }}images/screens/LaptopCalendarPopUp.png" alt="Facilitron Scheduling">
      </div>
      <div class="col-sm-7 homepage-text-r">
        <h2 class="h2-responsive">Powerful scheduling and reservation tools.</h2>
        <p>The Facilitron platform accommodates both internal and external reservation requests and transforms how facility owners manage their facilities by organizing all facility scheduling, calendars and communications into one place. A streamlined online application and approval process <strong>saves administrators valuable time and makes any work flow easy</strong> and manageable.</p>
        <blockquote>
          “Facilitron has significantly reduced our administrative costs while allowing us to better monetize our facilities. The benefit really hits the bottom line.” <br><br>- Greg Nelson, VP Finance &amp; College Operations <br>
          <img src="{{ $.Site.BaseURL }}images/logos/college-of-marin.png" alt="College of Marin" style="width:200px; margin-top:20px;">
        </blockquote>
        <a id="read-case-study-marin-btn" href="case-study-facilitron-college-of-marin" class="btn btn-primary my-4">College of Marin Case Study</a>
      </div>
    </div>
  </div>
  <!-- /.scheduling-section -->

  <!-- work-management-section -->
  <div class="container-fluid my-5 py-5">
    <div class="row">
      <div class="col-sm-7 homepage-text-l">
        <h2 class="h2-responsive">Work management.<br/>Made simple.</h2>
        <p>Powerfully integrated with the Scheduling &amp; Reservation system, Facilitron’s Work Management System <strong>transforms the way schools manage work tasks</strong> by providing a centralized platform for intelligently creating and automating requests – from complex projects to simple work orders.</p>
        <blockquote>
          “We were looking for a system that tackled complex facility projects in a simplified manner. Facilitron delivered.” <br><br>- Brett McFadden, Associate Superintendent<br>
          <img src="{{ $.Site.BaseURL }}images/logos/monterey-peninsula.png" alt="Monterey Peninsula Unified School District" style="width:300px; margin-top:20px;">
        </blockquote>
        <a id="schedule-demo-work-management-btn" href="https://facilitron.drift.com/getstarted?schedule" target="_blank" class="btn btn-primary my-4">Schedule A Demo</a>
      </div>
      <div class="col-sm-5 pr-0 homepage-img-r">
        <img class="img-fluid" align="right" src="{{ $.Site.BaseURL }}images/screens/MonitorWorkManagement.png" alt="Facilitron Work Management">
      </div>
    </div>
  </div>
  <!-- /.work-management-section -->

  <!-- reporting-section -->
  <div class="img-l container-fluid my-5 py-5">
    <div class="row">
      <div class="col-sm-5 pl-0 homepage-img-l">
        <img class="img-fluid" src="{{ $.Site.BaseURL }}images/screens/ComputerMonitorReportExploded2.png" alt="Facilitron Reporting">
      </div>
      <div class="col-sm-7 homepage-text-r">
        <h2 class="h2-responsive">Harness the power of data.</h2>
        <p><strong>Better reporting means better insights.</strong></p>
        <p>Data systems monitoring facility use allow Facilitron to provide valuable business insights that have helped districts save millions of dollars spent unknowingly subsidizing community programs and giving them the data required to support policy and procedure changes—which drive additional revenue and better leverage district assets.</p>
        <blockquote>
          “Access to the data allowed us to change our policies for administering community rental requests… so we could drive more revenue.” <br><br>- Marcus Battle, Chief Business Officer<br>
          <img src="{{ $.Site.BaseURL }}images/logos/east-side-high-school.png" alt="East Side High School District" style="width:300px; margin-top:20px;">
        </blockquote>
        <a id="read-case-study-napa-btn" href="./case-study-facilitron-napa-valley" class="btn btn-primary my-4">Napa Valley Case Study</a>
      </div>
    </div>
  </div>
  <!-- /.reporting-section -->

  <!-- call to action -->
  <div class="container-fluid cta my-5">
    <div class="row">
      <div class="col p-5 text-center">
        <h3 class="h3-responsive my-4">Schedule a demo and revolutionize the way you manage your facilities.</h3>
        <a id="schedule-demo-revolutionize-cta-btn" href="https://facilitron.drift.com/getstarted?schedule" target="_blank" class="btn btn-primary my-4 mx-auto">Schedule A Demo</a>
      </div>
    </div>
  </div>
  <!-- /.call-to-action -->

  <!-- white-paper-section -->
  <div class="container my-5 py-5">
    <div class="row">
      <div class="col">
        <h2 class="h2-responsive">Expert Perspective: How public schools can better manage the balance between school and community use.</h2>
      </div>
    </div>
    <div class="row my-4">
      <div class="col">
        <p>Dr. Philip Lanoue, 2015 AASA National Superintendent of the Year, one of the nation’s top 50 educational innovators in digital learning, and head of PDL Consultants writes about the challenges which school districts face and how <strong>Facilitron helps school districts develop systems to effectively monitor their total operations</strong> in their use of facilities to meet both the school and community needs.</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <blockquote>
          “The use of data-driven systems in decision making ensures a new level of understanding and transparency for the community.” <br><br>- Dr. Philip Lanoue, head of PDL Consultants<br>
          <img class="pt-5" src="{{ $.Site.BaseURL }}images/other/philip-lanoue.png" alt="Philip Lanoue">
        </blockquote>
        <a id="download-white-paper-btn" href="{{ $.Site.BaseURL }}images/pdf/Balancing-School-and-Community-Use-WhitePaperV5.pdf" class="btn btn-primary my-4">Download White Paper</a>
      </div>
    </div>
  </div>
  <!-- ./white-paper -->

  <!-- school-community-section -->
  <div class="container-fluid my-5 py-5">
    <div class="row">
      <div class="col-sm-7 homepage-text-l">
        <h2 class="h2-responsive">Needed systems with<br>less resources.</h2>
        <p>Facilitron automates data gathering and relieves district personnel from record keeping and other tasks of manual systems. And with Facilitron’s customer support team, <strong>the responsibility of supporting community requests with customer service, bill collection, verifying insurance and organization status, or even repurposing declined requests is shifted away from district personnel</strong> so they can focus on performing other needed tasks.</p>
        <blockquote>
          “As for Facilitron, LIFE SAVER. I did facilities use for three years without them and my entire job has changed because of them. It’s like having my own staff. Seriously, best decision I’ve made.” <br><br>- Cheryl Galloway, Community Engagement
          Manager<br>
          <img src="{{ $.Site.BaseURL }}images/logos/gilroy-unified.png" alt="East Side High School District" style="width:150px; margin-top:20px;">
        </blockquote>
      </div>
      <div class="col-sm-5 pr-0 homepage-img-r">
        <img class="img-fluid" align="right" src="{{ $.Site.BaseURL }}images/screens/search-results-mockup.png" alt="Facilitron Overview">
      </div>
    </div>
  </div>
  <!-- /.school-community-section -->

  <!-- revenue-generator-section; hold off on publishing -->
  <!-- <div class="container-fluid my-5 py-5">
    <div class="row">
      <div class="col-sm-5 pl-0 homepage-img-l">
        <img class="img-fluid" src="{{ $.Site.BaseURL }}images/screens/search-results-laptop-ipad.png" alt="Facilitron Scheduling">
      </div>
      <div class="col-sm-7 homepage-text-r">
        <h2 class="h2-responsive">Turn a liability into<br>a revenue generator.</h2>
        <p>Through a unique business strategy, Facilitron partners with districts to provide software, setup and support and data analysis at no costs to districts.</p>
        <blockquote>
          “...we simply can’t afford to allow the district and taxpayers to subsidize non-school related programs conducted by community groups.” <br><br>- Ken Spencer, Director of General Services, Napa Valley United School District
        </blockquote>
      </div>
    </div>
  </div> -->
  <!-- /.revenue-generator -->

  <!-- no-setup-fees-section -->
  <div class="container mb-5 pb-5">
    <div class="row">
      <div class="col">
        <img src="{{ $.Site.BaseURL }}images/screens/search-results-all-devices.png" alt="Facilitron Search Results" class="img-fluid"><br>
        <h2 class="h2-responsive">Facilitron uses a unique partnership strategy to provide software, setup and support at no costs to districts.</h2>
        <p>Through a unique partnership strategy which provides <strong>software and support at no cost</strong>, Facilitron helps school districts find solutions to optimizing building use, building rentals, and facility maintenance – all while saving costs, generating additional revenue and providing needed services for the local community.</p>
        <p style="font-size:0.85em;"><em>* Service fees of 6-12% applied only to approved, external rental requests. Internal reservations or no fee reservations are fully supported with no cost.</em></p>
      </div>
    </div>
  </div>
  <!-- ./no-setup-fees -->
  {{ partial "cta-demo.html" . }}
  {{ partial "get-started-form.html" . }}
</div>
<!--/.Main layout-->
