<!-- views/partials/navbar.ejs -->
<nav class="navbar navbar-dark fixed-top">
  <div>
    <a class="navbar-brand" href="/"><img src="{{ .Site.BaseURL }}images/logos/logo-facilitron-header.png" alt="Facilitron"></a>
  </div>
  <div class="navbar-menu-items">
    <ul>
      <li><a href="{{ .Site.BaseURL }}case-studies/">Case Studies</a></li>
      <li><a href="{{ .Site.BaseURL }}press/">Press</a></li>
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        <a href="{{.URL}}">{{ .Name }}</a>
      {{ end }}
    </ul>
  </div>
</nav>
<!--/.Navbar-->
