{{ partial "header-case-study.html" . }}
<main id="main">
  <div class="container">
      <article class="post">
        <div>
          {{ .Content }}
        </div>
      </article>
      <!-- #post-## -->
    <!-- /row post  -->
    <div class="clearfix"></div>
    <div class="row">
      <div>
        <div id="comments">
          {{ if .Params.Comments }} {{ partial "disqus.html" . }} {{ end }}
        </div>
      </div>
    </div>
    <!-- /row comments -->
    <div class="clearfix"></div>
  </div>
  <!-- /container -->
</main>
{{ partial "footer.html" . }}
