{{ partial "header-press.html" . }}

<main id="main">
  <div class="container">
    <article class="post">
      <div class="article-meta">
        <p>by: <cite>{{ .Params.author }}</cite><br>
        originally appeard in: <cite><a href="{{ $.Params.original_article_url }}"></a>.Params.original_publication</cite></p>
      </div>
      <div>
        {{ .Content }}
      </div>
    </article>
    <!-- #post-## -->
    <!-- /row post  -->
    <div class="clearfix"></div>
    <div class="row">
      <div>
        <div id="comments">
          {{ if .Params.Comments }} {{ partial "disqus.html" . }} {{ end }}
        </div>
      </div>
    </div>
    <!-- /row comments -->
    <div class="clearfix"></div>
  </div>
  <!-- /container -->
</main>

{{ partial "footer.html" . }}
