<!-- template: _default/contact-sales.html -->

{{ partial "header.html" . }}

<main id="main">
  <div class="container-fluid px-5 mb-5">
    <article class="post">
      {{ .Content }}
    </article>
    <div class="clearfix"></div>

    <!-- Form contact -->
    <form>
      <div class="md-form">
        <i class="fa fa-user-o prefix grey-text"></i>
        <input type="text" id="contact-sales-name" class="form-control">
        <label for="contact-sales-name">Your name</label>
      </div>
      <div class="md-form">
        <i class="fa fa-envelope-o prefix grey-text"></i>
        <input type="text" id="contact-sales-email" class="form-control">
        <label for="contact-sales-email">Your email</label>
      </div>
      <div class="md-form">
        <i class="fa fa-building-o prefix grey-text"></i>
        <input type="text" id="contact-sales-organization" class="form-control">
        <label for="contact-sales-organization">Organization</label>
      </div>
      <div class="md-form">
        <i class="fa fa-pencil prefix grey-text"></i>
        <textarea type="text" id="contact-sales-message" class="md-textarea" style="height: 100px"></textarea>
        <label for="contact-sales-message">Your message</label>
      </div>
      <div class="text-center">
        <button class="btn btn-primary">Send
          <i class="fa fa-paper-plane-o ml-1"></i>
        </button>
      </div>
    </form>
    <!-- Form contact -->
  </div>
  <!-- /container -->


</main>

<div class="clearfix"></div>

{{ partial "footer.html" . }}
<script type="text/javascript">
  console.log("Template: layouts/_default/contact-sales.html");
</script>