{{ partial "header.html" . }}

<main id="main">

  <div class="container">

    <div class="row topspace">

        <article class="post">
          <header>
            <div class="entry-meta">
              <span class="posted-on"><time class="entry-date published" date="{{ .Date }}">{{ dateFormat .Site.Params.DateForm .Date }}</time></span>
            </div>
            <h1 class="entry-title"><a href="{{ .Permalink }}" rel="bookmark">{{ .Title }}</a></h1>
          </header>
          <div>
            {{ .Content }}
          </div>
        </article>
        <!-- #post-## -->
    </div>
    <!-- /row post  -->

    <div class="clearfix"></div>

    <div class="row">
      <div>

        <div id="comments">
          {{ if .Params.Comments }} {{ partial "disqus.html" . }} {{ end }}
        </div>
      </div>
    </div>
    <!-- /row comments -->
    <div class="clearfix"></div>

  </div>
  <!-- /container -->

</main>

{{ partial "footer.html" . }}
