<!-- template: case-studies/list.html -->
{{ partial "header-press.html" . }}

<main id="main">

  <div class="container-fluid px-5">
    <div class="row topspace">
      <div class="card-container">
        {{ range .Paginator.Pages }}
        <!--Card-->
        <div class="card">
          <!--Card image-->
          <img class="img-fluid" src="{{ .Site.BaseURL }}images/headers/{{ .Params.custom_header_img }}" alt="{{ .Title }}">
          <!--Card content-->
          <div class="card-body">
            <header class="entry-header">
              <div class="entry-meta">
                <span class="posted-on">
                  <time class="entry-date published" date="{{ .Date }}">{{ dateFormat .Site.Params.DateForm .Date }}</time>
                </span>
              </div>
            </header>
            <!--Title-->
            <h4 class="card-title">
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h4>
            <!--Text-->
            <p class="card-text">{{ .Params.description }}</p>
            <a href="{{ .Permalink }}" class="btn btn-sm btn-primary" rel="bookmark">Read More</a>
          </div>
        </div>
        <!--/.Card-->
        {{ end }}

      </div>
    </div>
    <center class="">
      <ul class="pagination">
        {{ template "_internal/pagination.html" . }}
      </ul>
    </center>
  </div>
  <!-- /container -->
</main>
{{ partial "footer.html" . }}
<script type="text/javascript">
  console.log("Template: layouts/news/list.html");
</script>