<!-- views/partials/cta-demo.ejs -->
<div class="container-fluid cta mt-5 p-5">
  <div class="row">
    <div class="col-md-3 text-center">
      <img src="{{ .Site.BaseURL}}images/logos/facilitron-stacked-reversed.svg" alt="Facilitron" class="cta-logo mt-3">
    </div>
    <div class="col px-5">
      <h3 class="h4-responsive my-4">Facilitron is a cloud-based platform to manage, schedule and rent public facilities. It enables public schools, colleges and municipalities to showcase, monetize and manage their facilities – consolidating financial and usage data, communications, and calendars all in one place.</h3>
      <a id="schedule-demo-facilitron-cta-btn" href="https://facilitron.drift.com/getstarted?schedule" target="_blank" class="btn btn-primary my-4">Schedule A Demo</a>
    </div>
  </div>
</div>
<!-- ./cta -->
