<!-- login-form -->
<div class="modal fade f-modal" id="forgotpass-form" tabindex="-1" role="dialog" aria-labelledby="forgotpass-form" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <div class="modal-content">
      <form action="/login" method="post">
        <div class="modal-body mb-1">
          <img src="/images/logos/facilitron-logo.svg" width="174px" height="40px" alt="Facilitron">
          <button class="modal-close" data-dismiss="modal" aria-hidden="true">x</button>
          <hr>
          <div>
            <h3 class="h4-responsive mb-4 text-dark">Reset Password</h3>
          </div>
          <p class="small-text">Enter the email address associated with your account, and we will email you a link to reset your password.</p>
          <input type="email" id="forgot-pass-email" name="forgot_pass_email" placeholder="Email address">
          <div class="mt-2">
            <button type="submit" class="btn btn-primary" id="btn-send-pass">Send</button>
          </div>
      </form>
    </div>
  </div>
</div>
<!-- /login-form -->