<!-- views/partials/get-started-form.ejs -->
<div class="modal fade f-modal" id="fGetStartedForm" tabindex="-1" role="dialog" aria-labelledby="fModalGetStarted" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <div class="modal-content">

      <form action="/thanks" method="get">
        <div class="modal-body mb-1">
          <img src="/images/logos/facilitron-logo.svg" width="174px" height="40px" alt="Facilitron">
          <hr>

          <div>
            <h3 class="h4-responsive mb-4 text-dark">Create Renter Account</h3>
          </div>

          <input type="text" id="emailAddress" placeholder="Email address">
          <input type="text" placeholder="First name">
          <input type="text" placeholder="Last name">
          <input type="password" placeholder="Password (at least 5 characters)">
          <input type="tel" placeholder="Phone">
          <div>
            <input type="checkbox" value="mobilePhone" id="mobilePhone">
            <label for="mobilePhone">Mobile Phone</label>
          </div>
          <div>
            <input type="checkbox" value="registerOrganization" id="registerOrganization">
            <label for="registerOrganization">Register Your Organization</label>
          </div>
          <p class="small-text">By clicking "Create Account" I agree to Facilitron's <a href="/terms">Terms and Conditions</a> and <a href="/privacy">Privacy Policy</a>.</p>

          <div class="text-center mt-2">
            <button type="submit" class="btn btn-primary">Create Account</button>
          </div>
          <hr>
          <p>Already have an account? <a href="#">Log In</a>.</p>
        </div>
      </form>

    </div>
  </div>
</div>
<!--/getStartedForm-->