<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ .Description }}">

  <title>{{ .Title }}</title>

  <link rel="shortcut icon" href="{{ .Site.BaseURL }}{{ .Site.Params.favicon }}">

  <!-- Bootstrap -->
  <link href="{{ .Site.BaseURL }}css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles -->
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/mdb.css">

  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <!--[if lt IE 9]> <script src="js/html5shiv.js"></script> <![endif]-->
  <style>
    #custom_head {
        {
          {
          with .Params.custom_header_img
        }
      }
      background-image: url({{ $.Site.BaseURL }}images/headers/{{ $.Params.custom_header_img }}) !important;
        {
          {
          end
        }
      }
    }
  </style>

  <!-- Optimize Page-hiding snippet  -->
  <style>
    .async-hide {
      opacity: 0 !important
    }
  </style>
  <script>(function (a, s, y, n, c, h, i, d, e) {
    s.className += ' ' + y; h.start = 1 * new Date;
      h.end = i = function () { s.className = s.className.replace(RegExp(' ?' + y), '') };
      (a[n] = a[n] || []).hide = h; setTimeout(function () { i(); h.end = null }, c); h.timeout = c;
    })(window, document.documentElement, 'async-hide', 'dataLayer', 4000,
      { 'GTM-M9GB8CB': true });</script>

  <!-- Global site tag (gtag.js) - Google Analytics Facilitron Marketing -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106803624-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-106803624-1', { 'optimize_id': 'GTM-M9GB8CB' });
  </script>
  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
      'gtm.start':
        new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s) [0],
      j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-TF76RT4');
  </script>
  <script src="https://use.fontawesome.com/2b29aed594.js"></script>
  <!-- Start of Async Drift Code -->
  <script>
    !function () {
      var t;
      if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
        t.methods = ["identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on"],
        t.factory = function (e) {
          return function () {
            var n;
            return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
          };
        }, t.methods.forEach(function (e) {
          t[e] = t.factory(e);
        }), t.load = function (t) {
          var e, n, o, i;
          e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
            o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
            n = document.getElementsByTagName("script") [0], n.parentNode.insertBefore(o, n);
        });
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('mf5gkyef8dz8');
  </script>
  <!-- End of Async Drift Code -->
</head>

<body class="home">
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TF76RT4" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  <header id="header">
    {{ partial "menu2.html" . }}
    <div id="custom_head">
      <h2 class="h1-responsive font-bold text-uppercase white-text text-center">{{ .Title }}</h2>
      {{ if .Params.showdate }}
      <p class="h3-responsive white-text text-center mb-5 header-shadow">
        <time class="entry-date published" date="{{ .Date }}">{{ dateFormat .Site.Params.DateForm .Date }}</time>
      </p>{{ end }}
    </div>
  </header>