<div class="facilitron-main">
  <!-- list-rent-manage section -->
  <div class="container-fluid my-5 px-3">
    <div class="row">
      <div class="col-md-4 text-center my-2 p-3">
        <img class="icon--homepage" src="{{ .Site.BaseURL }}images/other/list.svg" alt="list facilities">
        <h2 class="h2-responsive font-weight-bold">LIST
          <br>
          <span class="font-weight-light">Facilities</span>
        </h2>
        <p>Sign up today to list your facilities and generate funds or recover the costs of facility use.</p>
        <a id="sign-up-btn" data-toggle="modal" data-target="#fGetStartedForm" class="btn btn-primary">Sign Up</a>
      </div>
      <div class="col-md-4 text-center my-2 p-3 border border-primary border-top-0 border-bottom-0">
        <img class="icon--homepage" src="{{ .Site.BaseURL }}images/other/rent.svg" alt="list facilities">
        <h2 class="h2-responsive font-weight-bold">RENT
          <br>
          <span class="font-weight-light">Facilities</span>
        </h2>
        <p>Search with ease to find and request the perfect venue for your events and activities.</p>
        <a href="#search" class="btn btn-primary">Search</a>
      </div>
      <div class="col-md-4 text-center my-2 p-3">
        <img class="icon--homepage" src="{{ .Site.BaseURL }}images/other/manage.svg" alt="list facilities">
        <h2 class="h2-responsive font-weight-bold">MANAGE
          <br>
          <span class="font-weight-light">Facilities</span>
        </h2>
        <p>Already a partner? Log in or request an account through your organization.</p>
        <a id="log-in-button" href="#" data-toggle="modal" data-target="#fLoginForm" class="btn btn-primary">Log In</a>
      </div>
    </div>
  </div>
  <!-- /list-rent-manage -->
  <div class="row bg-primary">
    <div class="col-md-2 p-4 offset-md-1">
      <img class="w-75" src="{{ .Site.BaseURL }}images/partners/college-of-marin-reversed.png" alt="College of Marin">
    </div>
    <div class="col-md-8 text-white p-4">
      <em>“Facilitron has significantly reduced our administrative costs while allowing us to better monetize our facilities.” — Greg Nelson, College of Marin</em>
    </div>
  </div>
  <!-- overview-section -->
  <div class="container-fluid my-5 py-5" id="facilitron-overview">
    <div class="row">
      <div class="col-sm-7 homepage-text-l">
        <h2 class="h2-responsive">Reduce workload.
          <br/>Recover costs..</h2>
        <p>Facilitron enables school districts, colleges, and municipalities to manage, showcase, and monetize their facility availability and utilization while transforming the customer experience for community renters.</p>
        <blockquote>
          “Facilitron doesn’t cost the system one penny, organizes the paperwork and monies for auditing purposes, allows us to be consistent across the board taking responsibility off board and admins AND income helps offset expensive upgrades on facilities….HOMERUN!!!”
          <br>
          <br>- Jay Brinson, Superintendent
          <br>
          <img src="{{ $.Site.BaseURL }}images/logos/wayne-county.png" alt="Wayne County School System" class="testimonial-icon">
        </blockquote>
        <a id="read-an-overview-btn" href="{{ $.Site.BaseURL }}overview" class="btn btn-primary my-4">Read an Overview</a>
      </div>
      <div class="col-sm-5 pr-0 homepage-img-r">
        <img class="img-fluid" align="right" src="{{ $.Site.BaseURL }}images/screens/ComputerMonitorSearchResults3.png" alt="Facilitron Overview">
      </div>
    </div>
  </div>
  <!-- /.overview-section -->
  <div class="embed-responsive embed-responsive-16by9 my-5">
    <iframe class="embed-responsive-item" src="https://fast.wistia.net/embed/iframe/m7q3m288wq?videoFoam=true" allowfullscreen="allowfullscreen"></iframe>
  </div>

  <!-- scheduling-section -->
  <div id="facilitron-scheduling" class="img-l container-fluid my-5 py-5">
    <div class="row">
      <div class="col-sm-5 pl-0 homepage-img-l">
        <img class="img-fluid" src="{{ $.Site.BaseURL }}images/screens/LaptopCalendarPopUp.png" alt="Facilitron Scheduling">
      </div>
      <div class="col-sm-7 homepage-text-r">
        <h2 class="h2-responsive">Powerful scheduling and reservation tools.</h2>
        <p>The Facilitron platform accommodates both internal and external reservation requests and transforms how facility owners manage their facilities by organizing all facility scheduling, calendars and communications into one place. A streamlined online application and approval process
          <strong>saves administrators valuable time and makes any work flow easy</strong>
          and manageable.</p>
        <blockquote>
          “Facilitron has significantly reduced our administrative costs while allowing us to better monetize our facilities. The benefit really hits the bottom line.”
          <br>
          <br>- Greg Nelson, VP Finance &amp; College Operations
          <br>
          <img class="testimonial-icon" style="width:150px;" src="{{ $.Site.BaseURL }}images/logos/college-of-marin.png" alt="College of Marin">
        </blockquote>
        <a id="read-case-study-marin-btn" href="{{ .Site.BaseURL }}case-studies/marin/" class="btn btn-primary my-4">College of Marin Case Study</a>
      </div>
    </div>
  </div>
  <!-- /.scheduling-section -->

  <!-- partner section -->
  <section class="fdb-block bg-primary py-5 text-center">
    <h3 class="h3-responsive text-white">A Few of our Partners</h3>
    <div class="partners">
      <a href="https://facilitron.com/esuhsd95133">
        <img alt="ESUHSD" class="partner-icon" src="{{ $.Site.BaseURL }}images/partners/eastside.png">
      </a>
      <a href="https://facilitron.com/gjps43230">
        <img alt="Gahanna" class="partner-icon" src="{{ $.Site.BaseURL }}images/partners/gahanna.png">
      </a>
      <a href="https://facilitron.com/chs97123">
        <img alt="image" class="partner-icon" src="{{ $.Site.BaseURL }}images/partners/hillsboro.png">
      </a>
      <a href="https://facilitron.com/sjeccd95113">
        <img alt="image" class="partner-icon" src="{{ $.Site.BaseURL }}images/partners/sanjose.png">
      </a>
      <a href="https://facilitron.com/sjusd95126">
        <img alt="image" class="partner-icon" src="{{ $.Site.BaseURL }}images/partners/sj.png">
      </a>
      <a href="https://facilitron.com/susd95202">
        <img alt="image" class="partner-icon" src="{{ $.Site.BaseURL }}images/partners/susd.png">
      </a>
    </div>
  </section>
  <!-- /.partner-section -->

  <!-- reporting-section -->
  <div class="img-l container-fluid my-5 py-5">
    <div class="row">
      <div class="col-sm-5 pl-0 homepage-img-l">
        <img class="img-fluid" src="{{ $.Site.BaseURL }}images/screens/ComputerMonitorReportExploded2.png" alt="Facilitron Reporting">
      </div>
      <div class="col-sm-7 homepage-text-r">
        <h2 class="h2-responsive">Harness the power of data.</h2>
        <p>
          <strong>Better reporting means better insights.</strong>
        </p>
        <p>Data systems monitoring facility use allow Facilitron to provide valuable business insights that have helped districts save millions of dollars spent unknowingly subsidizing community programs and giving them the data required to support policy and procedure changes—which better leverages district assets.</p>
        <blockquote>
          “Access to data and best practices allowed us to change our policies for administering community rental requests… to better and more efficiently serve the community.”
          <br>
          <br>- Marcus Battle, Chief Business Officer
          <br>
          <img src="{{ $.Site.BaseURL }}images/logos/east-side-high-school.png" alt="East Side High School District" class="testimonial-icon">
        </blockquote>
        <a id="read-case-study-napa-btn" href="{{ .Site.BaseURL }}case-studies/napa-valley" class="btn btn-primary my-4">Napa Valley Case Study</a>
      </div>
    </div>
  </div>
  <!-- /.reporting-section -->

  <!-- no-setup-fees-section -->
  <div class="container mb-5 pb-5">
    <div class="row">
      <div class="col">
        <img src="{{ $.Site.BaseURL }}images/screens/search-results-all-devices.png" alt="Facilitron Search Results" class="img-fluid">
        <br>
        <h2 class="h2-responsive">A unique partnership strategy provides software, setup and support at no costs to districts.</h2>
        <p>Through a unique partnership strategy which provides
          <strong>software and support at no cost</strong>, Facilitron helps school districts find solutions to optimizing building use, building rentals, and facility maintenance – all while saving costs, generating additional revenue and providing needed services for the local community.</p>
        <p style="font-size:0.85em;">
          <em>* Service fees of 6-12% applied only to approved, external rental requests. Internal reservations or no fee reservations are fully supported with no cost.</em>
        </p>
      </div>
    </div>
  </div>
  <!-- ./no-setup-fees -->

  <!-- call to action -->
  <div class="container-fluid bg-primary my-5">
    <div class="row">
      <div class="col p-5 text-center">
        <h3 class="h3-responsive white-text my-4">Schedule a demo and revolutionize the way you manage your facilities.</h3>
        <a id="schedule-demo-revolutionize-cta-btn" href="https://facilitron.drift.com/getstarted?schedule" target="_blank" class="btn btn-success my-4 mx-auto">Schedule A Demo</a>
      </div>
    </div>
  </div>
  <!-- /.call-to-action -->

  <!-- work-management-section -->
  <div class="container-fluid my-5 py-5">
    <div class="row">
      <div class="col-sm-7 homepage-text-l">
        <h2 class="h2-responsive">Work management.
          <br/>Made simple.</h2>
        <p>Powerfully integrated with the Scheduling &amp; Reservation system, Facilitron’s Work Management System
          <strong>transforms the way schools manage work tasks</strong>
          by providing a centralized platform for intelligently creating and automating requests – from complex projects to simple work orders.</p>
        <blockquote>
          “We were looking for a system that tackled complex facility projects in a simplified manner. Facilitron delivered.”
          <br>
          <br>- Brett McFadden, Associate Superintendent
          <br>
          <img src="{{ $.Site.BaseURL }}images/logos/monterey-peninsula.png" alt="Monterey Peninsula Unified School District" class="testimonial-icon">
        </blockquote>
        <a id="schedule-demo-work-management-btn" href="https://facilitron.drift.com/getstarted?schedule" target="_blank" class="btn btn-primary my-4">Schedule A Demo</a>
      </div>
      <div class="col-sm-5 pr-0 homepage-img-r">
        <img class="img-fluid" align="right" src="{{ $.Site.BaseURL }}images/screens/MonitorWorkManagement.png" alt="Facilitron Work Management">
      </div>
    </div>
  </div>
  <!-- /.work-management-section -->

  <div class="row">
    <div class="col-sm-7 homepage-text-l">
      <h2 class="h2-responsive">Meeting school &amp; community needs &mdash; with less resources.</h2>
      <p>Facilitron automates data gathering and relieves district personnel from record keeping and other tasks of manual systems. And with Facilitron’s customer support team,
        <strong>the responsibility of supporting community requests with customer service, bill collection, verifying insurance and organization status, or even repurposing declined requests is shifted away from district personnel</strong>
        so they can focus on performing other needed tasks.</p>
      <blockquote>
        “As for Facilitron, LIFE SAVER. I did facilities use for three years without them and my entire job has changed because of them. It’s like having my own staff. Seriously, best decision I’ve made.”
        <br>
        <br>- Cheryl Galloway, Community Engagement Manager
        <br>
        <img src="{{ $.Site.BaseURL }}images/logos/gilroy-unified.png" alt="East Side High School District" style="width:150px; margin-top:20px;">
      </blockquote>
    </div>
    <div class="col-sm-5 pr-0 homepage-img-r">
      <img class="img-fluid" align="right" src="{{ $.Site.BaseURL }}images/screens/search-results-mockup.png" alt="Facilitron Overview">
    </div>
  </div>
</div>
<!-- /.school-community-section -->

{{ partial "cta-demo" . }}
</div>
<!--/.Main layout-->

<script src="https://fast.wistia.net/assets/external/E-v1.js" async="async"></script>