<!-- login-form -->
<div class="modal fade f-modal" id="fLoginForm" tabindex="-1" role="dialog" aria-labelledby="fModalLogin" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <div class="modal-content">
      <form action="/login" method="post">
        <div class="modal-body mb-1">
          <img src="/images/logos/facilitron-logo.svg" width="174px" height="40px" alt="Facilitron">
          <button class="modal-close" data-dismiss="modal" aria-hidden="true">x</button>
          <hr>
          <div>
            <h3 class="h4-responsive mb-4 text-dark">Log in</h3>
          </div>
          <input type="text" id="username" placeholder="Email address">
          <input type="text" id="password" placeholder="Password">
          <a href="#" id="btn-forgotpass">Forgot password?</a>
          <div class="mt-2">
            <button type="submit" class="btn btn-primary" id="fLoginBtn">Log in</button>
          </div>
          <hr>
          <p>Don't have an account? <a href="javascript:void(0);" onclick="openGetStartedModal();">Create Account</a>.</p>
          <p>Need an account associated with an existing organization?<br>
          <a href="javascript:void(0);" onclick="administratorSignup();" id="fRequestAccessLink">Request Access</a></p>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /login-form -->