  <!-- white-paper-section -->
  <div class="container my-5 py-5">
    <div class="row">
      <div class="col">
        <h2 class="h2-responsive">Expert Perspective: How public schools can better manage the balance between school and community use.</h2>
      </div>
    </div>
    <div class="row my-4">
      <div class="col">
        <p>Dr. Philip Lanoue, 2015 AASA National Superintendent of the Year, one of the nation’s top 50 educational innovators in digital learning, and head of PDL Consultants writes about the challenges which school districts face and how <strong>Facilitron helps school districts develop systems to effectively monitor their total operations</strong> in their use of facilities to meet both the school and community needs.</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <blockquote>
          “The use of data-driven systems in decision making ensures a new level of understanding and transparency for the community.” <br><br>- Dr. Philip Lanoue, head of PDL Consultants<br>
          <img class="pt-5" src="{{ $.Site.BaseURL }}images/other/philip-lanoue.png" alt="Philip Lanoue">
        </blockquote>
        <a id="download-white-paper-btn" href="{{ $.Site.BaseURL }}images/pdf/Balancing-School-and-Community-Use-WhitePaperV5.pdf" class="btn btn-primary my-4">Download White Paper</a>
      </div>
    </div>
  </div>
  <!-- ./white-paper -->